.resources__link_name_resources-polka {
  background-image: url(../../../../../images/logo/resources-polka.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
